---
import { SectionDivider } from "nibbles-and-bites/astro";

const { class: className } = Astro.props;
---

<section class:list={[className]}>
  <SectionDivider />
  <h2>Other cute beings and places you might want to check out:</h2>
  <div class="banners">
    <a href="https://beehive.gay/">
      <img
        width="88px"
        height="31px"
        src="https://beehive.gay/button.png"
        alt='A bee and the text "beehive.gay" with a rainbow underline.'
        title="beehive.gay"
        decoding="async"
        fetchpriority="low"
        loading="lazy"
      />
    </a>
    <a href="https://www.theresnotime.co.uk">
      <img
        title="TheresNoTime"
        width="88px"
        height="31px"
        alt="A 88x31 website button with a fox emoji, and the text TheresNoTime"
        src="https://www.theresnotime.co.uk/button.png"
        decoding="async"
        fetchpriority="low"
        loading="lazy"
      />
    </a>
    <a href="https://foxes.systems/">
      <img
        title="Hayley (foxes.system)"
        width="88px"
        height="31px"
        alt='A 88x31 website button with the text "foxes.systems" and a orange purple gradient border.'
        src="https://foxes.systems/88x31.png"
        decoding="async"
        fetchpriority="low"
        loading="lazy"
      />
    </a>
  </div>
  <p>
    And I also have an 88x31 over at <a href="/88x31"
      >if you would like to add it</a
    >.
  </p>
  <div class="banners">
    <a href="https://www.aliciabytes.com">
      <img
        width="88px"
        height="31px"
        src="/88x31.webp"
        alt="A 88x31 button with the text 'AliciaBytes' at the bottom. At the top there is a rainbow unicorn/caticorn horn that becomes smaller towards the top right where it tip ends pointing towards the corner."
        decoding="async"
        fetchpriority="low"
        loading="lazy"
      />
    </a>
    <a href="https://www.aliciabytes.com">
      <img
        width="88px"
        height="31px"
        src="/88x31-animated.webp"
        alt="A 88x31 button with the text 'AliciaBytes' at the bottom. At the top there is a rainbow unicorn/caticorn horn that becomes smaller towards the top right where it tip ends pointing towards the corner. The rainbow horn is animated slowly adding more and more of its rainbow segments until they all disappear at the end again."
        decoding="async"
        fetchpriority="low"
        loading="lazy"
      />
    </a>
  </div>
</section>

<style>
  .banners {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 88px);
    gap: 9px;
  }
  h2 {
    font-size: 24px;
  }
</style>
