---
export interface Props {
  slug: string;
  title: string;
}
const { slug, title } = Astro.props;
const url = Astro.url;
const pathname = url.pathname;
---

{
  pathname === slug ? (
    <a class="tap-target" href={slug} aria-current="page">
      {title}
    </a>
  ) : (
    <a class="tap-target" href={slug}>
      {title}
    </a>
  )
}

<style>
  @layer component {
    a {
      display: grid;
      place-content: center;
    }
  }
</style>
