/*
https://www.w3.org/WAI/WCAG21/Understanding/target-size.html
https://web.dev/articles/accessible-tap-targets
*/

@layer accessibility {
    @media (pointer:coarse) {
        .tap-target {
            min-width: 44px;
            min-height: 44px;
            /* line-height: 44px; */
        }
    }
}
