/*
https://www.w3.org/WAI/WCAG21/Understanding/target-size.html
https://web.dev/articles/accessible-tap-targets
*/
@media (pointer:coarse) {
    .tap-target {
        min-width: 44px !important;
        min-height: 44px !important;
        /* line-height: 44px; */
    }
}
