---
const { class: className, title, url } = Astro.props;
const reportURL = encodeURI(
  `https://github.com/AliciaBytes/aliciabytes.com/issues/new?template=broken-page.yml&title=Broken page: ${title}&url=${url}`,
);
---

<footer class={className} id="footer">
  <a class="tap-target" id="report-page" href={reportURL}>Report broken page</a>
  <hr />
  <div class="footer-sections">
    <div class="social-section">
      <h2>Socials:</h2>
      <a class="tap-target" rel="me" href="https://tech.lgbt/@AliciaBytes"
        >Mastodon</a
      >
      <a class="tap-target" rel="me" href="https://www.twitch.tv/aliciabytes"
        >Twitch</a
      >
      <a class="tap-target" rel="me" href="https://github.com/AliciaBytes"
        >GitHub</a
      >
      <a class="tap-target" rel="me" href="https://www.youtube.com/@AliciaBytes"
        >YouTube</a
      >
      <a
        class="tap-target"
        rel="me"
        href="https://www.linkedin.com/in/aliciamiedl/">LinkedIn</a
      >
      <a class="tap-target" rel="me" href="mailto:contact@aliciabytes.com"
        >contact@aliciabytes.com</a
      >
    </div>
    <div class="footer-links">
      <h2>Links:</h2>
      <a class="tap-target" href="/about/">About</a>
      <a class="tap-target" href="/now/">Now</a>
      <a class="tap-target" href="/things-i-enjoy-and-recommend/"
        >Recommendations</a
      >
      <a class="tap-target" href="/rss.xml">RSS</a>
      <a class="tap-target" href="/privacy-policy/">Privacy Policy</a>
      <a class="tap-target" href="/cookie-policy/">Cookie Policy</a>
    </div>
  </div>
</footer>

<style>
  #report-page {
    color: var(--color-overlay0);
    margin: 9px 0;
  }
  hr {
    margin: 9px 0 0 0;
  }
  .footer-sections {
    margin: 18px 18px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  }

  .footer-sections > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-sections h2 {
    margin: 0;
  }
</style>
