---
const { class: className } = Astro.props;
---

<footer class={className} id="footer">
  <hr />
  <div class="footer-sections">
    <div class="social-section">
      <h2>Socials:</h2>
      <a rel="me" href="https://tech.lgbt/@AliciaBytes">Mastodon</a>
      <a rel="me" href="https://github.com/AliciaBytes">GitHub</a>
      <a rel="me" href="https://www.linkedin.com/in/aliciamiedl/">LinkedIn</a>
      <a rel="me" href="mailto:contact@aliciabytes.com"
        >contact@aliciabytes.com</a
      >
    </div>
    <div class="footer-links">
      <h2>Links:</h2>
      <a href="/about/">About</a>
      <a href="/privacy-policy/">Privacy Policy</a>
      <a href="/things-i-enjoy-and-recommend/">Recommendations</a>
    </div>
  </div>
</footer>

<style>
  hr {
    margin: 18px 0 0 0;
  }
  .footer-sections {
    margin: 18px 18px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  }

  .footer-sections > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-sections h2 {
    margin: 0;
  }

  a {
    display: grid;
    place-content: center;
    line-height: 48px;
  }
</style>
