---
import {
  default as NavigationLink,
  Props as NavigationElement,
} from "./NavigationLink.astro";

interface Props {
  navigation: Array<NavigationElement>;
}

const { navigation } = Astro.props;
---

<nav id="mainnav">
  <ul role="list">
    {
      navigation.map((element) => (
        <li>
          <NavigationLink slug={element.slug} title={element.title} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10ch, 100%), 1fr));
    margin: 24px 0 0 0;
  }
</style>
