---
import { getCollection } from "astro:content";
import PagePreview from "./PagePreview.astro";

let pages = await getCollection("page");
pages.sort((a, b) => {
  const a_comparator = (a.data.lastUpdated || a.data.published).getTime();
  const b_comparator = (b.data.lastUpdated || b.data.published).getTime();

  return b_comparator - a_comparator;
});
---

<section>
  <h2 id="latest-pages">Latest Pages</h2>
  <ul>
    {
      pages.map((page) => (
        <li>
          <PagePreview {...page} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  ul {
    list-style-type: none;
    padding: 0;
  }
</style>
