---
export interface Props {
  title: string;
  description: string;
}

import Head from "@src/components/Head.astro";
import Header from "@src/components/Header.astro";
import Footer from "@src/components/Footer.astro";

import "@styles/layers.css";
import "@styles/external.css";
import "@styles/global.css";
import "@styles/themes.css";
import "@styles/accessibility.css";

const { title, description } = Astro.props;
const origin = Astro.site?.origin;
const url = Astro.url;
---

<!doctype html>
<html lang="en" class="no-js" data-selected-theme="catppuccin-mocha">
  <Head title={title} description={description} />
  <body>
    <Header class="grid-center-wrapper" />
    <main class="grid-center-wrapper" data-pagefind-body>
      <slot />
    </main>
    <Footer class="grid-center-wrapper such-a-bottom" {title} {url} />
  </body>
</html>

<style>
  :where(body) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .such-a-bottom {
    margin-top: auto;
  }
</style>
